{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-ico; charset=binary">
    {% block title %}{% endblock %}
</head>
<body>
    <div class="nav-bar">
        <div class="menu-left">
            <a href="{% url 'home' %}" class="home">ΑΡΧΙΚΗ</a>
            <a href="/overview" class="calc">ΥΠΟΛΟΓΙΣΜΟΣ CVETS</a>
        </div>
        <div class="menu-center">
            LOGO
        </div>
        <div class="menu-right">
            <a href="/about" class="about">ΠΛΗΡΟΦΟΡΙΕΣ</a>
            <a href="/login" class="login">ΕΙΣΟΔΟΣ</a>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>